astroid==1.5.2
colorama==0.3.8
invoke==0.16.3
isort==4.2.5
Jinja2==2.9.6
lazy-object-proxy==1.2.2
MarkupSafe==1.0
mccabe==0.6.1
py==1.4.33
pylint==1.7.1
pytest==3.0.7
six==1.10.0
typing==3.6.1
wrapt==1.10.10
